body {
    background-color: #e4edf8;
    /* background-image: url("https://www.transparenttextures.com/patterns/3px-tile.png"); */
    /* font-family: 'Fjalla One'; */
    color: rgb(93, 136, 156);
    font-family: 'Julius Sans One', sans-serif;
}

table#tickers {
    border-collapse: collapse;
    font-size: 12px;
    width: 100%;
}

table#tickers td, table#tickers th {
    padding: 0.5rem;
    text-align: center;
    vertical-align: middle;
    column-width: auto;
    column-span: 7;
    border: 2px solid rgb(227, 238, 241);
}

table#filter {
    border-collapse: collapse;
    font-size: 12px;
    width: 100%;
}

table#filter td, table#filter th {
    padding: 0.5rem;
    text-align: center;
    vertical-align: middle;
    width: 12%;
    column-span: 8;
}

table#set-load-filter {
    border-collapse: collapse;
    font-size: 12px;
    width: 100%;
}

table#set-load-filter td, table#set-load-filter th {
    padding: 0.5rem;
    text-align: center;
    vertical-align: middle;
    column-width: auto;
    column-span: 3;
}

tr {
    width: 10%;
}

select {
    width: 80px;
    font-size: 12px;
}

select:hover {
    cursor: pointer;
}

option {
    font-size: 10px;
}

select#load-filter {
    width: 400px;
    font-size: 12px;
}

h1 {
    color: #ffffff;
    font-family: 'Rouge Script', cursive;
    font-size: 100px;
    font-weight: normal;
    line-height: 72px;
    margin: 0 0 50px;
    text-align: center;
    text-shadow: 3px 3px 2px #e0562b;
}

.popup-filter, .popup-user {
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.popup-content {
    height: 200px;
    width: 400px;
    background-color: #e4edf8;
    border: 2px solid #e0562b;
    padding: 20px;
    border-radius: 5px;
    position: relative;
}

input {
    border-radius: 5px;
    margin: 20px auto;
    display: block;
    width: 50%;
    padding: 8px;
    cursor: text;
}

input[type=submit] {
    cursor: pointer;
    color: white;
    background: #e94a22;
    border-bottom: #c0421b 3px solid;
    border-left: #c0421b 1px solid;
    border-right: #c0421b 1px solid;
    border-radius: 6px;
    text-align: center;
    padding: 10px;
    float: center;
    font-size: 10px;
    font-weight: 800;
    margin: 20px auto;
    display: block;
    width: 50%
}

input:hover {
    opacity: .8;
}

.close {
    color: white;
    background: #e94a22;
    border-bottom: #c0421b 3px solid;
    border-left: #c0421b 1px solid;
    border-right: #c0421b 1px solid;
    border-radius: 6px;
    text-align: center;
    padding: 10px;
    float: center;
    font-size: 10px;
    font-weight: 800;
    margin: 20px auto;
    display: block;
    width: 50%
}

.close:hover, input[type=submit]:hover {
    opacity: .8;
}

th {
    background-color: rgb(189, 209, 224);
}

td {
    background-color: #f6fafa;
}

#tickers tbody tr:hover td {
    background-color: #e7f3f3;
    color: rgb(248, 87, 38);
}

#tickers tr:nth-child(odd) td {
    background: #f5f7f7;
}

button#log-in-or-sign-up {
    display: flex;
}

button#log-out {
    display: none;
}

.sub-main {
    vertical-align: center;
    background-color: rgb(57, 97, 114);
    margin-top: 20pt;
    margin-bottom: 20pt;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 20pt;
    border-spacing: 10px;
    padding: 10pt
}

.page2, .page3, .page4, .page5 {
    display: none;
}

button {
    border-top: 0;
    cursor: pointer;
}

#log-in-or-sign-up, #log-out {
    margin-right: 10px;
    /* width: 100%; */
    background: #e94a22;
    border-bottom: #c0421b 3px solid;
    border-left: #c0421b 1px solid;
    border-right: #c0421b 1px solid;
    border-radius: 6px;
    text-align: center;
    color: white;
    padding: 10px;
    float: center;
    font-size: 10px;
    font-weight: 800;
}

#log-in-or-sign-up:hover, #log-out:hover {
    opacity: 0.8;
}

#load, #delete, #save, #reset, #next, #back {
    margin-right: 10px;
    /* width: 10%; */
    background: #e94a22;
    border-bottom: #c0421b 3px solid;
    border-left: #c0421b 1px solid;
    border-right: #c0421b 1px solid;
    border-radius: 6px;
    text-align: center;
    color: white;
    padding: 5px;
    float: center;
    font-size: 10px;
    font-weight: 600;
}

#load:hover, #delete:hover, #save:hover, #reset:hover, #next:hover, #back:hover {
    opacity: 0.8;
}

#load:disabled, #delete:disabled, #save:disabled, #reset:disabled, #next:disabled, #back:disabled {
    margin-right: 10px;
    background: #e6e6e6;
    border-bottom: #b1b1b1 3px solid;
    border-left: #b1b1b1 1px solid;
    border-right: #b1b1b1 1px solid;
    border-radius: 6px;
    text-align: center;
    color: rgb(0, 0, 0);
    padding: 5px;
    float: center;
    font-size: 10px;
    font-weight: 600;
    opacity: .5;
    cursor: not-allowed;
}

table#set-load-filter tr:first-child td:first-child, table#filter tr:first-child td:first-child {
    border-top-left-radius: 10px;
}

table#set-load-filter tr:first-child td:last-child, table#filter tr:first-child td:last-child {
    border-top-right-radius: 10px;
}

table#set-load-filter tr:last-child td:first-child, table#filter tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

table#set-load-filter tr:last-child td:last-child, table#filter tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

#results, #user {
    color: #f5f7f7;
    font-size: 12px;
    text-indent: 4px;
    line-height: 40px;
    font-weight: 600;
}

#scroll-pages {
    text-align: center;
    margin-top: 14px;
}